.whole{
    background-color: lightgray;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.screen{
    /* border: 1px solid #000; */
    align-self: center;
    display: flex;
    flex-flow: row nowrap ;
    justify-content: center;
    align-items: flex-end;
    width: 40rem;
    height: 15rem;
}
.display{
    width: 60%;
    height: 90%;
    background-color: #000;
    color: azure;
    font-size: 2rem;
    text-align: center;
    /* border:  5px solid rgb(138, 16, 16); */
}

/* .btn{
    width: ;
} */

.keyboard{
    align-self: center;
    padding: 1rem;
    /* border:  5px solid #000; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
}
.key{
    width: 100px;
    margin: 5px;
    font-size: 2rem;
    border-radius: 6px;
}

.btn{
    /* border:  5px solid rgb(138, 16, 16); */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    height: 150px;
    width: 90px;
}

.l_btn{
    /* border:  5px solid rgb(138, 16, 16); */
    height: 35px;
    width: 50px;
}